@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/* Base et init */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  user-select: none;
  font-family: "Hanken Grotesk", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  object-fit: cover;
}

p {
  font-size: 1.125rem;
}

.card {
  width: 100%;
  padding: 0.9375rem;
  background: rgb(151, 243, 255);
  display: flex;
  justify-content: space-between;
  border-radius: 0.625rem;
  position: relative;
  margin-bottom: 0.9375rem;
}
.card-redA {
  background: hsla(0, 100%, 67%, 0.1);
  box-shadow: 0rem 0rem 0rem 0.0006rem hsl(0, 100%, 67%);
}
.card-orangeA {
  background: hsla(39, 100%, 56%, 0.1);
  box-shadow: 0rem 0rem 0rem 0.0006rem hsl(39, 100%, 56%);
}
.card-greenA {
  background: hsla(166, 100%, 37%, 0.1);
  box-shadow: 0rem 0rem 0rem 0.0006rem hsl(166, 100%, 37%);
}
.card-blueA {
  background: hsla(234, 85%, 45%, 0.1);
  box-shadow: 0rem 0rem 0rem 0.0006rem hsl(234, 85%, 45%);
}
.card .container {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
.card .container_img {
  width: 0.9375rem;
  height: 0.9375rem;
}
.card .container_paragraphe {
  margin-right: 3.125rem;
}
.card .container_paragraphe-red {
  color: hsl(0, 100%, 67%);
}
.card .container_paragraphe-orange {
  color: hsl(39, 100%, 56%);
}
.card .container_paragraphe-green {
  color: hsl(166, 100%, 37%);
}
.card .container_paragraphe-blue {
  color: hsl(234, 85%, 45%);
}
.card_scoreBox {
  display: flex;
}
.card_scoreBox > p:nth-of-type(1) {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.card_scoreBox > p:nth-of-type(2) {
  color: #919191;
  font-weight: 700;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: ghostwhite;
}
@media (max-width: 620px) {
  body {
    align-items: baseline;
    height: 100%;
  }
}

#box {
  display: flex;
  flex-direction: row;
  background: hsl(0, 0%, 100%);
  border-radius: 1.5625rem;
}
@media (max-width: 620px) {
  #box {
    flex-direction: column;
    border-radius: 0;
  }
}

header,
main {
  height: 500px;
  width: 310px;
}
@media (max-width: 620px) {
  header,
  main {
    width: 100%;
    height: 100%;
  }
}

header {
  background: linear-gradient(to top, #2e2be9, rgb(120, 87, 255));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 1.875rem;
  border-radius: 1.5625rem;
}
@media (max-width: 620px) {
  header {
    width: 100%;
    border-radius: 0 0 1.5625rem 1.5625rem;
    height: 380px;
    padding: 1.875rem;
    gap: 0.9375rem;
  }
}
header > h1 {
  color: hsl(241, 100%, 89%);
  font-size: 1.3125rem;
}
header > div {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: linear-gradient(to top, rgba(36, 33, 201, 0), #4e21ca);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 375px) {
  header > div {
    width: 120px;
    height: 120px;
  }
}
header > div > p:nth-of-type(1) {
  color: hsl(0, 0%, 100%);
  font-size: 3.75rem;
  font-weight: 700;
}
@media (max-width: 375px) {
  header > div > p:nth-of-type(1) {
    font-size: 3.125rem;
  }
}
header > div > p:nth-of-type(2) {
  color: hsl(241, 100%, 89%);
}
header > p:nth-of-type(1) {
  color: hsl(0, 0%, 100%);
  font-size: 1.875rem;
  font-weight: 500;
}
@media (max-width: 375px) {
  header > p:nth-of-type(1) {
    font-size: 1.375rem;
  }
}
header > p:nth-of-type(2) {
  color: hsl(241, 100%, 89%);
  text-align: center;
}
@media (max-width: 375px) {
  header > p:nth-of-type(2) {
    font-size: 1.0625rem;
  }
}

main {
  padding: 3.125rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 620px) {
  main {
    width: 100%;
    padding: 1.875rem;
  }
}
main > h2 {
  font-size: 1.3125rem;
  color: hsl(224, 30%, 27%);
}
main > button {
  background: hsl(224, 30%, 27%);
  border-style: none;
  padding: 1.25rem 0.9375rem;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
main > button:hover::after {
  opacity: 1;
}
main > button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: #2e2be9;
  border-radius: 1.5625rem;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
