.card {
    width: 100%;
    padding: 15px;
    background: rgb(151, 243, 255);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    position: relative;
    margin-bottom: 15px;
    &-redA {
        background: $clr-LightRedAlpha;
        box-shadow: 0px 0px 0px 0.01px $clr-LightRed;
    }
    &-orangeA {
        background: $clr-OrangeyYellowAlpha;
        box-shadow: 0px 0px 0px 0.01px $clr-OrangeyYellow;
    }
    &-greenA {
        background: $clr-GreenTealAlpha;
        box-shadow: 0px 0px 0px 0.01px $clr-GreenTeal;
    }
    &-blueA {
        background: $clr-CobaltBlueAlpha;
        box-shadow: 0px 0px 0px 0.01px $clr-CobaltBlue;
    }
    
    .container {
        display: flex;
        gap: 10px;
        align-items: center;

        &_img {
            width: 15px;
            height: 15px;
        }

        &_paragraphe {
            margin-right: 50px;

            &-red {
                color: $clr-LightRed;
            }
            &-orange {
                color: $clr-OrangeyYellow;
            }
            &-green {
                color: $clr-GreenTeal;
            }
            &-blue {
                color: $clr-CobaltBlue;
            }   
        }
    }
    
    &_scoreBox {
        display: flex;

        & > p:nth-of-type(1) {
            color: $clr-DarkGrayBlue;
            font-weight: 700;
        }

        & > p:nth-of-type(2) {
            color: $clr-grey;
            font-weight: 700;
        }
    }
}