body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: ghostwhite;

    @media (max-width: 620px) {
        align-items: baseline;
        height: 100%;
    }
}

#box {
    display: flex;
    flex-direction: row;
    background: $clr-White;
    border-radius: 1.5625rem;

    @media (max-width: 620px) {
        flex-direction: column;
        border-radius: 0;
    }
}

header,
main {

    height: 500px;
    width: 310px;

    @media (max-width: 620px) {
        width: 100%;
        height: 100%;
    }

}

header {
    background: linear-gradient(to top, $clr-LightRoyalBlue, $clr-LightSlateBlue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 1.875rem;
    border-radius: 1.5625rem;

    @media (max-width: 620px) {
        width: 100%;
        border-radius: 0 0 1.5625rem 1.5625rem;
        height: 380px;
        padding: 1.875rem;
        gap: .9375rem;
    }

    & > h1 {
        color: $clr-LightLavender;
        font-size: 1.3125rem;
    }

    & > div {
        width: 160px;
        height: 160px;
        border-radius: 50%;
        background: linear-gradient(to top, $clr-PersianBlue, $clr-VioletBlue);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 375px) {
            width: 120px;
            height: 120px;
        }

        & > p:nth-of-type(1) {
            color: $clr-White;
            font-size: 3.75rem;
            font-weight: 700;

            @media (max-width: 375px) {
                font-size: 3.125rem;
            }
        }

        & > p:nth-of-type(2) {
            color: $clr-LightLavender;
        }
    
    }

    & > p:nth-of-type(1) {
        color: $clr-White;
        font-size: 1.875rem;
        font-weight: 500;

        @media (max-width: 375px) {
            font-size: 1.375rem;
        }
    }

    & > p:nth-of-type(2) {
        color: $clr-LightLavender;
        text-align: center;

        @media (max-width: 375px) {
            font-size: 1.0625rem;
        }
    }
}

main {
    padding: 3.125rem 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 620px) {
        width: 100%;
        padding: 1.875rem;
    }

    & > h2 {
        font-size: 1.3125rem;
        color: $clr-DarkGrayBlue;;
    }

    & > button {
        background: $clr-DarkGrayBlue;
        border-style: none;
        padding: 1.25rem .9375rem;
        border-radius: 25px;
        color: $clr-White;
        font-weight: 700;
        cursor: pointer;
        position: relative;
        z-index: 1;

        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: $clr-LightRoyalBlue;
            border-radius: 1.5625rem;
            opacity: 0;
            transition: opacity 300ms ease-in-out;
        }
    }
}


